     <br>
         <br>
         <br>
         <br>
        <div id="clock">
            <img src="clock.jpg">
            <canvas id="myCanvas2" width="212" height="212"></canvas>
            <canvas id="myCanvas3" width="212" height="212"></canvas>
            <canvas id="myCanvas4" width="212" height="212"></canvas>
        </div>