 <div class="continentInfo">
                <!-- <img src=<?php echo "'../pictures/continents/".$output['continentPicture']."'" ?> alt=<?php echo "'Image of ".$output['Continent']."'" ?> class="continentImage" height="300" width="300"/> -->
                <div class="mainInfo">
                    <div class="continent info">Continent: <!-- <?php echo $output['Continent']?> --></div>
                    <div class="region info">Region: <!-- <?php echo $output['Region']?> --></div>
                    <div class="localName info">Local Name: <!-- <?php echo $output['LocalName']?> --></div>
                </div>
            </div>
            <div class="addInfo">
                <div class="surfaceArea info">Surface Area:<!--  <?php echo $output['SurfaceArea']?> --></div>

                <div class="indepYear info">Independence Year:<!--  <?php echo $output['IndepYear']?> --></div>

                <div class="population info">Population:<!--  <?php echo $output['Population']?> --></div>

                <div class="lifeExpectancy info">Life Expectancy: <!-- <?php echo $output['LifeExpectancy']?> --></div>

                <div class="governmentForm info">Government Form: <!-- <?php echo $output['GovernmentForm']?> --></div>

                <div class="headOfState info">Head Of State: <!-- <?php echo $output['HeadOfState']?> --></div>

                <div class="capital info">Capital:<!--  <?php echo $output['capital']?> --></div>
            </div>