<!DOCTYPE html>
<html>
    <head>
   <% include partials/templates/head %> 
    <body>
  
            <% include partials/templates/header %>
       
        

        <div class="countryInfo clearfix">
            <!--the class name should be changed-->
          <% include partials/content/countryMainInfo %> 
        </div>
        <div class="cityLanguage clearfix">
            <% include partials/content/cities %> 
            <% include partials/content/languages %>  
                    </div>




<%= rows %>



         
            <% include partials/content/clock %> 
            <% include partials/templates/footer %>	
            <% include partials/templates/jsDefaults %> 
</body>
</html>   