<html>
    <head>
    <% include partials/templates/head.ejs %>
    </head>
    <body>
        <header>
            <% include partials/templates/header.ejs %>
        </header>
            <% include partials/content/geoInfo.ejs %>
        <section>
            <% include partials/content/searchForm.ejs %>
        </section>
        <section>
            <% include partials/content/advancedSearchForm.ejs %>
        </section>
        
            <% include partials/content/clock.ejs %> 
            <% include partials/templates/footer.ejs %>	
            <% include partials/templates/jsDefaults.ejs %>
    </html>    
