
<html>
    <head>
              <% include partials/templates/head.ejs %>
              <link rel="stylesheet" href="LoginFormstyle.css">

    <body>
    			<%= message %>
    			

  
                <% include partials/content/loginForm.ejs %>

    </body>
</html>