<!DOCTYPE html>
<html>
    <head>
   <% include partials/templates/head %> 
    <body>
  
            <% include partials/templates/header %>
       
        



         
            <% include partials/content/clock %> 
            <% include partials/templates/footer %>	
            <% include partials/templates/jsDefaults %> 
</body>
</html>  